@font-face {
  font-family: Eczar-Regular;
  src: url(../fonts/Eczar-Regular.ttf);
}

@font-face {
  font-family: Halant-Regular;
  src: url(../fonts/Halant-Regular.ttf);
}

body {
	font-family: Eczar-Regular;
}

.Halant-Bold{
	font-family: Halant-Bold;
}

.Halant-Regular{
	font-family: Halant-Regular;
}

.bg-material {
	background: -webkit-linear-gradient(110deg, #3491ed 60%, #65a0db 60%);
	background: -o-linear-gradient(110deg, #3491ed 60%, #65a0db 60%);
	background: -moz-linear-gradient(110deg, #3491ed 60%, #65a0db 60%);
	background: linear-gradient(110deg, #3491ed 60%, #65a0db 60%);
}

.bg-black{
	background: rgb(0, 0, 0);
}

.bg-aablue{
  background: rgb(50, 118, 184);
}

.text-aablue{
  color: rgb(50, 118, 184);
}

.text-orange{
  color: rgb(255, 145, 0);
}


.bg-light-gray{
	background: rgb(227, 227, 227);
}

.rounded-25{
	border-radius: 25px;
}

.rounded-top-25{
  border-radius: 25px 25px 0px 0px;
}

.rounded-bottom-25{
  border-radius: 0px 0px 25px 25px;
}

.rounded-10{
	border-radius: 10px;
}

.btn-aablue {
    background-color: #3276b8 !important;
}

.btn-aablue:hover {
    background-color: #2666a3 !important;
}

p.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}